{% extends 'base.html' %}

{% block content %}
<h1>DETAIL</h1>
<hr>
<form action='{% url "either:delete" article.pk %}' method = "POST">
    {% csrf_token %}
    <input type="submit" value = "DELETE">
</form>
<form action="{% url 'either:update' article.pk %}">
    <input type="submit" value = "UPDATE">
</form>
<h3>{{article.title}}</h3>
<h5>Red TEAM</h5>
<p>=>{{article.red}} - {{red}}명 선택</p>
<h5>Blue TEAM</h5>
<p>=>{{article.blue}} - {{blue}}명 선택</p>
<hr>
<a href="{% url 'either:index' %}">BACK</a>
<hr>
<form action="{% url 'either:comment_create' article.pk %}"  method = "POST">
    {% csrf_token %}
    {{comment_form.as_p}}
    <input type="submit" value = "작성">
</form>
{% if comments %}
<hr>
<h3>댓글 목록</h3>
{% for comment in comments %}
    {% if comment.pick %}
    <li>Red-{{comment.content}}</li>
    {% else %}
    <li>Blue-{{comment.content}}</li>
    {% endif %}
{% endfor %}
{% endif %}
{% endblock content %}
